<!-- Display GoatCounter pageviews -->
<script>
  function loadPageviews() {
    const pv = document.getElementById('pageviews');

    if (pv === null) {
      return;
    }

    const uri = location.pathname.replace(/\/$/, '');
    const url = `https://{{ site.analytics.goatcounter.id }}.goatcounter.com/counter/${encodeURIComponent(uri)}.json`;

    fetch(url)
      .then((response) => response.json())
      .then((data) => {
        const count = data.count.replace(/\s/g, '');
        pv.innerText = new Intl.NumberFormat().format(count);
      })
      .catch(() => {
        pv.innerText = '1';
      });
  }

  if (document.readyState === 'loading') {
    document.addEventListener('DOMContentLoaded', loadPageviews);
  } else {
    loadPageviews();
  }
</script>
